<li>
  {{rental.owner}}'s {{rental.description}} in {{rental.area}} that goes for {{rental.cost}}
  {{#if isImageShowing }}
    <p><img src={{rental.image}} alt={{rental.area}} ></p>
  {{else}}
    <button {{action 'showImage'}}>Show image</button>
  {{/if}}
    <button>Hide image</button>
</li>
